html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "ui-sans-serif", "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff; /* Set your background color */
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  min-width: 200px;
  padding: 20px;
  background-color: #ffffff;
  color: #2521e9;
  text-align: center;
  border: 2px solid grey;
  font-weight: bold;
}

.sidebar p {
  font-size: 0.6em;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  margin-top: auto;
}

.control-group {
  margin-bottom: 20px;
}

.control-group label {
  color: black !important;
}

.prediction-time,
.datetime-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prediction-time {
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: visible;
  border: 3px solid #2521e9;
}

.bar:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.bar:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.bar {
  flex-grow: 1;
  text-align: center;
  padding: 7px 5px;
  max-width: 30%;
  cursor: pointer;
  background-color: #2521e9; /* Set the theme color as background */
  color: white; /* Set text color to white */
  /*Border Colors*/
  border-left-color: #2521e9;
  border-right-color: #2521e9;
}

.inactivebar {
  background-color: white;
  color: #2521e9;
}

.datetime-selector label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.datetime-input {
  position: relative;
}

.datetime-input input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="datetime-local"] {
  font-family: inherit;
  width: 90%;
  color: #2521e9;
  border: 3px solid #2521e9;
  border-radius: 10px;
  font-weight: inherit;
  padding: 7px 5px;
  max-width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
}

.activeText {
  color: red;
}
