<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Overflow</title>

  <!-- Libraries or stylesheets-->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="https://kit.fontawesome.com/479e7d047b.js" crossorigin="anonymous"></script>
  <!--Update datetime-local with the start time-->
  <script>
    window.addEventListener("load", () => {
      // Fetch date with jinja
      var startDate = "{{ dateRange[0] | safe }}";
      startDate = new Date(startDate.replace(' ', 'T'))

      // Load in the date
      var year = startDate.getFullYear();
      var month = ('0' + (startDate.getMonth() + 1)).slice(-2); // Months are zero-based
      var day = ('0' + startDate.getDate()).slice(-2);
      var hours = ('0' + startDate.getHours()).slice(-2);
      var minutes = ('0' + startDate.getMinutes()).slice(-2);
      var formattedDate = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes;

      document.getElementById("cal").value = formattedDate;
    });
  </script>
  <!--Generate leaflet map with required data, and provide function for map update-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script>
    // Store references to maps for later use
    var activeMaps = [];
    L.Map.addInitHook(function () {
      activeMaps.push(this); // Use whatever global scope variable you like.
    });

    function updateMap(sensorData, predictionTime) {
      // Check if the map already exists
      var mapContainer = document.querySelector(".leaflet-container");
      if (!mapContainer) {
        // Create new map
        var map = L.map("map").setView([1.3521, 103.8198], 12); // Coordinates for Singapore
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);
      } else {
        // Wipe markers off old map
        var map = activeMaps[0];
        map.eachLayer(function (layer) {
          if (layer instanceof L.Marker) {
            map.removeLayer(layer);
          }
        });
      }

      // Check whether to render green markers
      var hidingCheckbox = document.getElementById('hide');
      var skipLowFlooding = hidingCheckbox.checked

      // NOTE: sensorData MUST be converted to a JS datetime object before use
      sensorData.forEach(function (sensor) {
        var markerColor = "grey"; // Default color for unknown status

        // Get approppriate fullness
        if (!predictionTime) {
          fullness = sensor['% full']
        } else {
          predictionTime = parseFloat(predictionTime)
          predictionTimeString = (predictionTime).toFixed(1)
          fullness = sensor[`% full (in ${predictionTimeString}h)`];
        };

        // Set status and color based on % full
        if (fullness > 90) {
          markerColor = "red";
          sensorStatus = 'High Risk'
        } else if (fullness > 75) {
          markerColor = "yellow";
          sensorStatus = 'Moderate Risk'
        } else {
          if (skipLowFlooding) return;
          markerColor = "green";
          sensorStatus = 'Low Risk'
        }

        // Create marker with dynamic color
        const markerSize = 16;
        var markerIcon = new L.Icon({
          iconUrl: `https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-${markerColor}.png`,
          iconSize: [markerSize, markerSize * (41 / 25)],
          popupAnchor: [1, -20],
        });
        var marker = L.marker([sensor.latitude, sensor.longitude], {
          icon: markerIcon,
        }).addTo(map);

        // Bind popup with sensor information
        markerPopup =
          "<b>Sensor Name:</b> " +
          sensor["sensor-name"] +
          "<br><b>Status:</b> " +
          sensorStatus;
        if (!predictionTime) {
          markerPopup +=
            "<br><b>Percentage Filled (Now):</b> " + sensor["% full"] + "%";
        } else {
          markerPopup +=
            `<br><b class="activeText">Percentage Filled (In ${predictionTime}h):</b> ` +
            sensor[`% full (in ${predictionTimeString}h)`] +
            "%";
        }
        marker.bindPopup(markerPopup);
      });
    }
  </script>
  <!--Update map on input change-->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var predictionBars = document.querySelectorAll(".bar");
      var datetimeInput = document.getElementById("cal");
      var hidingCheckbox = document.getElementById('hide');

      // Add event listener to prediction time bars
      predictionBars.forEach(function (bar) {
        bar.addEventListener("click", function () {
          // Reset all bars to inactive state
          predictionBars.forEach(function (inactiveBar) {
            inactiveBar.classList.add("inactivebar");
            inactiveBar.classList.remove("activebar");
          });

          // Set the clicked bar to active state
          bar.classList.remove("inactivebar");
          bar.classList.add("activebar");

          // Get the selected prediction parameters from input boxes
          var selectedTime = parseFloat(bar.getAttribute("data-time"));
          var selectedDatetime = datetimeInput.value;

          // Send AJAX request to update data
          updateData(selectedTime, selectedDatetime);
        });
      });

      // Add event listener to datetime input
      datetimeInput.addEventListener("input", function () {
        var selectedDatetime = datetimeInput.value;

        // Get the selected prediction time from the active bar and hide status
        var activeBar = document.querySelector(".activebar");
        var selectedTime = activeBar
          ? parseFloat(activeBar.getAttribute("data-time"))
          : undefined;

        // Send AJAX request to update data
        updateData(selectedTime, selectedDatetime);
      });

      // Add event listener to checkbox
      hidingCheckbox.addEventListener("change", function () {
        // Get all parameters required
        var selectedDatetime = datetimeInput.value;
        var activeBar = document.querySelector(".activebar");
        var selectedTime = activeBar
          ? parseFloat(activeBar.getAttribute("data-time"))
          : undefined;

        // Send AJAX request to update data
        updateData(selectedTime, selectedDatetime);
      });

      // Function to send AJAX request and update data
      function updateData(predictionTime, datetime) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/update_data", true); // Define the request type, URL, and set it to asynchronous
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        ); // Set the request header

        var data =
          "prediction_time=" + predictionTime + "&datetime=" + datetime; // Define the data to be sent in the request body

        // Define the callback function for when the request is complete
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            // Parse the response JSON and update the map
            var updatedData = JSON.parse(xhr.responseText);
            updateMap(updatedData, predictionTime);
          }
        };

        // Send the request with the data
        xhr.send(data);
      }
    });
  </script>
</head>

<body>
  <aside class="sidebar">
    <!-- <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="Website Logo"
      /> -->
    <!--Controls for map-->
    <div class="controls">
      <!--Prediction Time-->
      <div class="control-group">
        <label>Prediction Time</label>
        <div class="prediction-time">
          <div class="bar activebar" data-time="0">now</div>
          <div class="bar inactivebar" data-time="0.5">0.5h</div>
          <div class="bar inactivebar" data-time="1">1h</div>
          <div class="bar inactivebar" data-time="2">2h</div>
        </div>
      </div>
      <!--Datetime selector-->
      <div class="control-group">
        <label>Date & Time</label>
        <div class="datetime-selector">
          <input type="datetime-local" id="cal" name="datetime" />
        </div>
      </div>
      <!--Non-Flood Hiding Checkmark-->
      <div class="control-group">
        <label>Only Show Flooding Cases</label>
        <div class="hiding-checkbox">
          <input type="checkbox" id="hide" name="hide-flooding" value="true" />
        </div>
      </div>
    </div>
    <p>
      Please note that this demo only works for dates between {{ dateRange[0]
      }} and {{ dateRange[1] }}
    </p>
  </aside>
  <!--Leaflet map here-->
  <div id="map"></div>
  <script>
    // List of dicts containing sensor data including latlong and other info
    var sensorData = {{ sensorData | tojson }};
    updateMap(sensorData)
  </script>
</body>

</html>